// Helpful links:
// https://css-tricks.com/using-absolute-value-sign-rounding-and-modulo-in-css-today/
// https://www.desmos.com/calculator/82pcwe8lps

body {
  height: 90vh;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  margin: auto;
  width: 12em;
  height: 12em;
  display: block;
  position: relative;
  --items-circle: 10;
  --rotate-offset: 360deg / var(--items-circle);
  --rotate: calc(var(--scroll, 0) * (var(--items) - 1) * var(--rotate-offset));
  --scroll-rotations: calc(
    var(--scroll, 0) * (var(--items) - 1) / var(--items-circle)
  );

  &::before {
    counter-reset: scroll calc(var(--scroll, 0) * 100) rotations
      calc(var(--scroll-rotations, 0) * 100);
    content: 'P: ' counter(scroll) '% R: ' counter(rotations) '%';
    position: absolute;
    z-index: 10;
    background: #fffa;
    pointer-events: none;
    bottom: 0;
    font-size: 0.6em;
  }

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    box-shadow: 1px -1px, 6em -6em 0 0 #0002;
    pointer-events: none;
  }

  .scroller {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: orange;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overscroll-behavior: none;

    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }

    span {
      --dim: calc(var(--items) * 100%);
      display: block;
      width: var(--dim);
      aspect-ratio: 1;
      background: linear-gradient(-45deg, #0f0a, #f00a),
        linear-gradient(to bottom left, #333 50%, #eee 50%);
    }
  }

  ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    display: flex;
    counter-reset: nav;
    position: absolute;
    left: 6em;
    top: 6em;
    background: blue;
    z-index: 1;
    pointer-events: none;
    transform: rotate(var(--rotate));
  }

  li {
    --rotate-item: calc(var(--index) * -1 * var(--rotate-offset) - 90deg);
    display: block;
    position: absolute;
    counter-increment: nav;
    opacity: var(--alpha);
    transform: rotate(var(--rotate-item)) translateX(5em) scale(var(--scale))
      rotate(calc(var(--rotate-item) * -1 - var(--rotate)));

    /**
    *  Compares current rotation against starting rotation to create a
    *  determinstic alpha / opacity range, based on a 1 - f(x)^2 curve,
    *  where x = rotation and y = range, specifically:
    *  A * (1 - (2 * x - 1)^2) to plot a curve that zeros y at x=0|1
    *  and provides an faster ascent/descent to/from y=1 as A increases
    *  e.g. 2.5 * (1 - (2 * x - 1)^2)
    *  === 0:0 => 1:0.115 => 1:0.886 => 0:1
    *  See: https://www.desmos.com/calculator/82pcwe8lps
    */
    // 1. x: current rotation of the item
    --x-item-scroll-rotations: calc(
      0.5 - var(--index) / var(--items-circle) + var(--scroll-rotations)
    );
    // 2. f(x): shifts and squashes the curve so y(0)=x(0|1)
    --fx-curve-shift: calc(2 * var(--x-item-scroll-rotations) - 1);
    // 3. the range curve
    --curve: calc(2.5 * (1 - var(--fx-curve-shift) * var(--fx-curve-shift)));
    // 4. curve clamp, maintains 0>=y<=1
    --curve-clamp: clamp(0, var(--curve), 1);
    // 5. snaps the curve from y>0 === 1 to y<=0 === 0
    --curve-snap: clamp(0, calc(var(--curve) / 0), 1);
    --alpha: var(--curve-snap);
    --scale: calc(var(--curve-clamp) * var(--curve-clamp));

    label {
      pointer-events: all;
      counter-reset: ceil var(--scale);
      width: 3em;
      aspect-ratio: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      line-height: 3em;
      text-align: center;
      position: absolute;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: #f0f;

      input {
        direction: rtl;
        padding: 0;
        margin: 0;
      }

      &:focus-within {
        background: #faf;
      }

      &::before {
        content: counter(nav);
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        left: 0;
        font-size: 0.8em;
        line-height: 1.4;
        pointer-events: none;
      }

      &:focus-within::after {
        content: 'Selected';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translate(-50%, -2.4em);
        font-size: 0.8em;
        line-height: 1.4;
        pointer-events: none;
        background: #ff0;
        color: #f0f;
        padding: 0.2em 0.4em;
        border: 1px solid #f0f;
      }
    }

    &:hover {
      &:empty::before,
      label {
        background: #ff0;
        border: 1px solid #f0f;
        opacity: 1;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8;
  padding: 1em;
  text-align: center;
}
